<%= render :partial => 'posts/form' %>

<div class="discussion">
  <%= render @discussion.posts %>
</div>

<%= link_to 'Edit', edit_discussion_path(@discussion) %> |
<%= link_to 'Back', discussions_path %>
