body {
  margin:30px;
}
div, form {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
form {
  border:1px solid #000;
  margin:10px 0;
  padding:10px;
}
form textarea {
  height:8em;
  width: 600px
}
.discussion {border:1px solid #000;
  margin:10px 0;
  padding:10px
}
.post {
  border:1px solid #000;
  margin:10px 0 10px 20px;
  padding:10px;
  overflow:hidden;
}
.post:first-child {
  margin-left:0
}
.post>img {
  float:left;
  display:block;
  margin-right:10px
}
.meta {
  float:right;
}
div.reply_list {color:#999}
div.reply {margin-left:30px}

.action_menu {
  text-align:right;
}
.action_menu a.reply {}

blockquote {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 0 10px;
  width: 70%;
  margin-left: 0px;
}

.trap {
  display:none;
}

/* Latest discussions */
ol.latest {
  margin: 0;
  padding: 10px;
  list-style-type: none;
  border: 1px solid #000;
}
ol.latest li {
  display:inline-block;
  border: 1px solid #000;
  padding: 5px;
  min-width:100px;
}
h2 {
  display:inline;
}

/* JS */
body.side{
  margin-right:400px;
}
form.side{
  position:fixed;
  right:0;
  top:0;
  bottom:0;
  margin:10px;
}
form.side textarea{
  height:400px;
  width:100%
}
form #discussion_submit.link{
  font-family: sans-serif;
  font-size: 24px;
  border: 1px #000 solid;
  border-radius: 5px;
  background:none;
}
